* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
main {
	height: 100vh;
	background-color: #07C5F5;
	color: #FFF600;
}
.hero {
	margin: 0;
	padding: 10%;
	position: relative;
	top: 25%;
}
.heroHeading {
	font-size: 4rem;
	margin: 0;
}
.heroPara {
	font-size: 2rem;
}
nav{
	position: sticky;
	top: 0;
	/*background-color: #B7B9BD;*/
	overflow: auto;
}
ul {
	float: right;
	padding: 2% 5%;
	color: #CC0000;
	font-weight: bold;
}
li {
	list-style-type: none;
	display: inline;
	font-size: 2rem;
	padding: 20px;
}
.about {
	padding: 0 5%;
	overflow: auto;
	background-color: #B7B9BD;
}
.aboutContent {
	display: inline-block;
	width: 47.5%;
	margin: 0 auto;
	position: relative;
	float: left;
	text-align: justify;
	color: #CC0000;
	h1: #CC0000;
}
.aboutContent1 {
	margin: 0 5% 0 0;
}

@media screen and (max-width: 800px) {
	.hero {
		top: 50%;
	}
	.heroHeading {
		font-size: 3rem;
		margin: 0;
	}
	.heroPara {
		font-size: 1rem;
	}
	ul {
		float: left;
		width: 100%;
		text-align: center;
	}
	.aboutContent {
		display: block;
		width: 100%;
		margin: 0 auto 5% auto;
	}
}