* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

main {
	height: 100vh;
	background-color: #02C7A6;
	color: #FAC002;
}

.hero {
	margin: 0;
	padding: 10%;
	position: relative;
	top: 25%;
}

.hero div {
	width: 85px;
	height: 85px;
	margin: 5% auto;
}

.heroHeading {
	font-size: 4rem;
	margin: 0;
}
.heroPara {
	font-size: 2rem;
}

.heroArrow {
	height: 100%;
	margin: 0 auto;
}

nav{
	position: sticky;
	top: 0;
	background-color: #FFF;
	overflow: auto;
	z-index: 10;
}

ul {
	float: right;
	padding: 2% 5%;
	color: #02C7A6;
	font-weight: bold;
}

li {
	list-style-type: none;
	display: inline;
	font-size: 2rem;
	padding: 20px;
}

li:hover {
	color: #FAC002;
	cursor: pointer;
}

.about {
	padding: 7% 5% 7% 5%;
	overflow: auto;
	background-color: #F5313E;
}

.about h1 {
	color: #FFF;
}

.aboutContent {
	display: inline-block;
	width: 47.5%;
	margin: 0 auto;
	position: relative;
	float: left;
	text-align: justify;
	color: #FFF;
}

.aboutContent1 {
	margin: 0 5% 0 0;
}

.projects {
	padding: 5% 5%;
	background-color: #FAC002;
}

.projectItems {
	width: 30%;
	height: 300px;
	display: inline-block;
	margin: 40px 25px 0 0;
	vertical-align: top;
	cursor: pointer;
	border: 5px solid #02C7A6;
	background-size: cover;
	background-position: center;
}

.project1 {
	background-image: url("../IMG/coming-soon.jpg");
}

.project2 {
	background-image: url("../IMG/coming-soon.jpg");
}

.project3 {
	background-image: url("../IMG/coming-soon.jpg");
}

.project4 {
	background-image: url("../IMG/coming-soon.jpg");
}

.project5 {
	background-image: url("../IMG/coming-soon.jpg");
}

.project6 {
	background-image: url("../IMG/coming-soon.jpg");
}

@media screen and (max-width: 800px) {
	.hero {
		top: 50%;
	}
	.heroHeading {
		font-size: 3rem;
		margin: 0;
	}
	.heroPara {
		font-size: 1rem;
	}
	.hero div {
		height: 50px;
		height: 50px;
	}

	ul {
		float: left;
		width: 100%;
		text-align: center;
		Padding: 0;
	}

	li {
		font-size: 1.5rem;
		padding: 0 20px;
	}
}

	.aboutContent {
		display: block;
		width: 100%;
		margin: 0 auto 5% auto;
	}

	.projectItems {

	}